# must be unique in a given SonarQube server instance
sonar.projectKey=my:project
# this is the name and version displayed in the SonarQube UI. Was mandatory prior to SonarQube 6.1.
sonar.projectName=My_project
sonar.projectVersion=1.0
# GoLint report path, default value is report.xml
sonar.golint.reportPath=report.xml
# Cobertura like coverage report path, default value is coverage.xml
sonar.coverage.reportPath=coverage.xml
# if you want disabled the DTD verification for a proxy problem for example, true by default
sonar.coverage.dtdVerification=false
# JUnit like test report, default value is test.xml
sonar.test.reportPath=test.xml
# Path is relative to the sonar-project.properties file. Replace "\" by "/" on Windows.
# This property is optional if sonar.modules is set.
sonar.sources=.
# Encoding of the source code. Default is default system encoding
#sonar.sourceEncoding=UTF-8
# JUnit like test report, default value is test.xml
sonar.test.reportPath=test/tests.xml
sonar.sources=./
sonar.tests=./
sonar.test.inclusions=**/**_test.go
sonar.sources.inclusions=**/**.go
sonar.sources.exclusions=**/**_test.go
